@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul{
	list-style-type:none;
}
body {
	margin:0 auto;
}
#head {
	width: 100%;
	height: 239px;
	background: url(head_and_foot/head/head_bg.png) repeat-x;
}
#logo {
	width: 960px;
	height: 199px;
	margin: 0 auto;
}
#logo_left {
	width: 400px;
	height: 199px;
	float: left;
	position: relative;
}
#logo_right {
	position: relative;
	width: 560px;
	height: 199px;
	float: left;
}
#course_orgname {
	position: absolute;
	top: 10px;
	left: 50px;
	width: 297px;
	height: 60px;
	background: url(head_and_foot/head/course_orgname.png) no-repeat;
	text-indent:-9999px;
}
#course_name {
	position: absolute;
	top: 30px;
	left: -70px;
	width: 537px;
	height: 170px;
	background: url(head_and_foot/head/head_courseTitle_bg.png) no-repeat;

}
#course_name h1 {
	position: absolute;
	top: 70px;
	left: 120px;
	font-size:30px;
	color: #fff;
	font-family:"黑体";
	font-weight: bold;
}

#course_pic {
	position: absolute;
	width: 342px;
	height: 131px;
	top: 10px;
	left: 180px;
	background: url(head_and_foot/head/head_picture.png) no-repeat;
}
#global_search {
	position: absolute;
	top: 160px;
	left: 200px;
	width: 400px;
	height: 30px;
}

#global_search_lable {
	padding-top: 2px;
	font-size:16px;
	color:#eab807;
	font-family:"微软雅黑";
	float: left;
}

#search_key {
	margin: 0 10px;
	float: left;
	height: 22px;
	color:#eab807;
	font-size:12px;
	font-family:宋体;
	padding-left: 4px;
}
#search_button {
	width: 40px;
	border: 0px;
	height: 26px;
	float: left;
	background: url(head_and_foot/head/search_bt.png) no-repeat;
}
#nav {
	width: 960px;
	height: 40px;
	margin: 0 auto;

}
.nav_ul_li {
	float: left;
	height: 40px;
}
#nav_ul {
	background: url(head_and_foot/head/nav_bg_mid.png) repeat-x;
	float: left;
}
.nav_ul_li a {
	font-size:18px;
	font-family:"微软雅黑";
	padding: 0 13px;
	color: #fff;
	display: block;
	line-height: 40px;
}
#nav_first{
	width: 28px;
	height: 40px;
	float: left;
	background: url(head_and_foot/head/nav_bg_left.png) no-repeat;
}
#nav_last{
	width: 28px;
	height: 40px;
	float: left;
	background: url(head_and_foot/head/nav_bg_right.png) no-repeat;
}
#foot {
	width: 960px;
	height: 121px;
	margin: 0 auto;
	background: url(head_and_foot/foot/foot_bg.png);
}
#site_info {
	padding-top: 30px;
}
.touch_us {
	font-size:"宋体";
	font-size:12px;;
	color: #fff;
	text-align: center;
	margin: 10px 0;
}