* {
    margin: 0px;
    padding: 0px;
}
body {
    color: #666;
    background: #fdfdfd;
    font-family:”Marmelad”,”Lucida Grande”,Georgia,sans-serif;
    line-height: 1.5em;
}
a {
    color: #7CAE23;
    text-decoration: none;
}
ul {
    list-style: none;
}



#body-wrapper {
	max-width: 960px;
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;
}
.head-area {
	padding-top: 20px;
	background: #fff;
}
.title-area {
	padding-top: 15px;
	width: auto;
	height: 120px;
    font-size: 16px;
}

.description {
    margin-top: 10px;
}
.content-area {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 29px 20px;
    width: 660px;
    height: 1000px;
    margin-left: 240px;
}
.nav-area {
	font-size: 16px;
	height: 60px;
	color: #888;
	margin-bottom: 15px;
	background: #FBFFD7;
	border-top: 4px solid #9ACD4B;
	text-align: center;
	border-bottom: 1px solid #FFF0B5;
}

.main-nav li {
    display: inline-block;
    margin: 18px 0 0 45px;

}

.main-area {
	list-style-position: inside;
	line-height: 36px;
	margin: 12px auto 0;
	padding: 0;
	width: 1000px;
}
.side-area {
	overflow: hidden;
	width: 220px;
	background: #fff;
    float: left;
}

.side-area li {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
}

.side-area li.first-li {
    border-top: 1px solid #ddd;
}
#article h1 {
    text-align: center;
}

#article h2 {
    color: #7CAE23;
    margin: 5px;
}
@media (max-width: 960px) {
    .main-area,
    #footer-wrapper {
        width: auto;
    }
    .head-area,.side-area {
        text-align: center;
    }
    .nav-area {
        height: auto;
        font-size: 16px;
    }
    .main-nav {
        width: auto;
        margin: 0;
        line-height: 40px;
    }
    .main-nav li {
        display: block;
        margin: 0;
    }
    .side-area {
        margin-bottom: 20px;
        width: auto;
        float: none;
    }

    .content-area,
    .comment-area {
        margin-left: 0;
        width: auto;
    }
}